html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #121212; /* Replace with your dark mode background color */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: inherit;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  